<!-- views/partials/footer.ejs -->
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <span class="text-muted">Ez a lábléc tartalma.</span>
    </div>
  </footer>
  <script src="/styles/bootstrap.min.js"></script>
</body>
</html>
