<h2>Napi limit</h2>
<p>Limit Naponta (00:00:00-23:59:59) 10 GB</p>
<p>Szankciók forgalmi tiltásnál:</p>
<ul>
  <li>1. alkalom: 30 perc tiltás</li>
  <li>2. alkalom: 1 nap tiltás</li>
  <li>3. alkalom: 7 nap tiltás</li>
  <li>4. alkalom: 30 nap tiltás</li>
</ul>
<p>Bármely forgalmi szabályszegést a súlyosságtól függően felülbírálhatjuk max. 7 napra. A forgalmi tiltás és visszaengedés automatikus.</p>
<table class="table">
  <thead>
    <tr>
      <th>MAC cím</th>
      <th>Tiltás kezdete</th>
      <th>Tiltás vége</th>
    </tr>
  </thead>
  <tbody>
    <% user.limits.forEach(limit => { %>
      <tr>
        <td><%= limit.mac %></td>
        <td><%= limit.start %></td>
        <td><%= limit.end %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
