<h1>User List</h1>
<img src="/images/example.jpg" alt="Example Image" class="img-fluid">
<ul class="list-group mt-3">
  <% users.forEach(user => { %>
    <li class="list-group-item"><%= user.name %></li>
  <% }) %>
</ul>