<% if (user) { %>
  <h1>Üdvözlünk, <%= user.name %>!</h1>
<% } else { %>
  <h1>Üdvözlünk az oldalon!</h1>
<% } %>
<p>Ez a kezdőoldal. Látogass el a <a href="http://net.vpk.bme.hu">Hivatalos oldalra</a>.</p>
