<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Kezdőoldal</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1><%= message %></h1>
        <a href="http://net.vpk.bme.hu" target="_blank" class="btn btn-primary">Hivatalos oldal</a>
        <br>
        <a href="/register" class="btn btn-secondary">Regisztráció</a>
        <br>
        <a href="/login" class="btn btn-secondary">Bejelentkezés</a>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
